{:paths ["src" "resources"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo/"}}
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}

        com.cognitect/transit-clj {:mvn/version "1.0.324"}

        nrepl {:mvn/version "0.6.0"}
        cider/cider-nrepl {:mvn/version "0.21.1"}

        clj-time {:mvn/version "0.15.2"}
        cheshire {:mvn/version "5.10.0"}}}
